html{
    scroll-behavior: smooth;
}



/* HEADER */
.destaque{
    width: 100%;
    height: 100%;
    background-image: url(../img/destaque.jpeg);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .navegacao{
    display: inline-block;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 5px;
    background: #928f8f1f;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 2px 24px;
    text-decoration: none;
}

.titulos{
    display: contents;
    font-size: 3rem;
}

.titulo{
    color: #fff;
    text-transform: uppercase;
	text-shadow: 2px 0px 9px #000000a6;
}

.subTitulo{
    color: rgb(30, 230, 23);
    text-transform: uppercase;
    font-size: 0.9em;
    text-shadow: 2px 0px 9px #000000a6;
    margin: 9px;
}

.botao{
    background: #48A3A6;
    padding: 21px 35px;
    border-radius: 4px;
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    box-shadow: 0px 0px 3px 1px #00000046;
}

nav a:hover{
    position: relative;
    top: -1px;
    background: #48A3A6;
    transition: 1s;
}

@media (max-width: 426px){
    .navegacao{
        font-size: 1rem;
    }
    
}

@media (max-width: 492px){
    .destaque{
        background-size: 170%;
    }
    
}

@media (min-width: 850px){
    .titulos{
        font-size: 5rem;
    }
    .botao{
        padding: 18px 29px;
    }
    
}




/* CONTEUDO */
.conteudo {
    margin: 25px;
	text-align: center;
}

main h3 {
    font-size: 2em;
    font-weight: 500;
}
main h4 {
    margin: 15px;
    font-size: 1.5em;
}

.conteudo p {
    line-height: 27px;
    font-size: 16px;
}






/* PALESTRANTES */
.palestrantes { 
    text-align: center;  
    padding: 70px 33px;
    background: coral;

}
.palestrantes h3{
    text-transform: uppercase;
    color: white;
}
.palestrantes h4{
    color: white;
}

.card {
    display: inline-block;
    width: 20%;
    padding: 43px 34px;
    margin: 4px 4px 15px;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
}

img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
}

.palestrantes h2 {
    margin: 5px;
    font-weight: bold;
}

@media (max-width: 1007px){
    .card{
        display: inline-block;
        width: 33%;
        margin: 16px 0.5%;
        padding: 30px 20px;
    }
}

@media (max-width: 630px){
    .card{
        display: inline-block;
        width: 60%;
        margin: 16px 0.5%;
        padding: 30px 20px;
    }
    .formulario .botao{
        padding: 16px;
        font-size: 12px;
    }
}

@media (max-width: 425px){
    .card{
        width: 85%;
    }
}

@media (max-width: 880px){
    
    .formulario .botao{
        padding: 16px;
        font-size: 12px;
    }
}





/* FORMULARIO */
.formulario{
    text-align: center;   
    padding: 33px ;
}
.formulario h3{
    text-transform: uppercase;
    color: coral;
    font-weight: bold;
    padding-bottom: 2%;
}

.input input, label{
    display: block;
    text-align: left;
    font-size: 1.2rem;
}
.input input{
    width: 100%;
    margin: 8px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -1px 1px 3px 1px #00000046;
    border: solid 1px #ecd7d7;
}

input:focus {
    outline: none !important;
    border:1px solid rgb(209, 113, 22);
}

#email{
    margin-bottom: 60px;
}